/* CABECERA */
.frontlevel {
    width: 400px;
    height: 300px;
}
/* ------- GENERALES ------ */
.centro {
    text-align: center;
}
body {
	background-color: rgb(208, 213, 142);
    padding: 5px;
}
/* MENU DE NAVEGACION */
nav {
	background-color: white;
	color: white;
}
nav a {
	color: black;
	text-decoration:none;
	padding:10px;
}
nav li{
	display: inline; 
	font-size: 30px;
}
nav ul   {
	text-align: center;
}
/* CONTENIDO - CONTACTOS */

form {
    width: 400px;
	padding: 20px;
	margin: auto;
	border-radius: 5px;
	border: 3px solid #ddd;
	
}
.button {
  background-color: #bce791;
  border: none;
    border-radius: 12px;
  color: white;
  text-align: left;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  width: auto;
}
textarea {
    border: 2px solid black;
    width: 402px;
    height: 120;

}
input {
	width: 80%;
	padding: 8px;
	margin-bottom: 12px;
    border: 2px solid black;
}

/* CONTENIDO - INDEX */
.contenido-inicio{
	display: inline-block;
}

.parrafo1 { 
	padding: 10px;
	float: left;
	text-align: center;
	width: 45%;
	background: white;
	font-style: italic;
}

.parrafo2 { 
	padding: 10px;
	float: right;
	text-align: center;
	width: 45%;
	background: white;
	font-style: italic;
}



/* PIE */
footer {
	background-color: white;
	display: inline-block;
	width: 100%;
	color: black;
	padding:5px;
    margin-top: 20px;
}